.fa {
    padding: 16px;
    width: 50px;
    margin: 5px 2px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    
}

.fa:hover {
    opacity: 0.7;
}


.fa-facebook {
  background: #3B5998;
  color: white;
  margin: 5px 2px;
  padding: 16px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  margin: 5px 2px;
  padding: 16px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-instagram {
  background: #8a3ab9;
  color: white;
  margin: 5px 15px 5px 2px;
  padding: 16px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

#profile {
    border-radius: 50%;
}

.blockquote {
  text-align:center;
}

#names {
  text-align:center;
}

.jumbotron {
min-height: 300px;
background-image: url('images/potluck2.jpg');
background-size: cover;
background-attachment: fixed;
}

.jumbotronbelarus {
min-height: 500px;
background-image: url('images/belarus.jpg');
background-size: cover;
background-attachment: fixed;
}

.jumbotronbulgaria {
min-height: 500px;
background-image: url('images/bulgaria.jpg');
background-size: cover;
background-attachment: fixed;

}

.jumbotronuk {
min-height: 500px;
background-image: url('images/uk.jpg');
background-size: cover;
background-attachment: fixed;

}

#navbarDropdown a:hover, {
  position:relative;
  float: left;

}

#Header {
	text-align: center;
	color: white;
    width: 1100px;
    vertical-align:middle;
    line-height:200px;
}


li {
  max-width: 800px;
  text-align: justify;
}

/* attempt at upvote/downvote below */
a {
  padding-left: 5px;
}

.glyphicon {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.glyphicon:hover {
  opacity: 0.75;
  cursor: pointer;
}

 /*body { 
 	padding-top: 10px; 
 }*/
